@media (max-width: 1280px) {
  .cabecalho {
    padding: 30px;
  }

  .home {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .home .container-informacoes,
  .footer .container-informacoes {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .sobre {
    margin-bottom: 50px;
  }

  .sobre .container-informacoes {
    padding: 0 30px;
  }

  .habilidades {
    margin-bottom: 50px;
  }

  .habilidades .container-habilidades {
    padding: 0 30px;
  }

  .projetos {
    margin-bottom: 50px;
  }

  .projetos .container-projetos {
    padding: 0 30px;
  }

  .footer {
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .habilidades .container-habilidades {
    max-width: 760px;
  }
}

@media (max-width: 900px) {
  .cabecalho .menu {
    display: block;
  }

  .cabecalho nav input:checked ~ ul {
    display: block;
  }

  .cabecalho nav {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
  }

  .cabecalho nav ul {
    display: none;
    background-color: var(--color-dark);
    border-radius: 10px;
    padding: 20px;
  }

  .cabecalho nav li a {
    color: var(--color-white);
    text-align: center;
    padding: 20px;
    display: block;
  }
}

@media (max-width: 836px) {
  .habilidades .container-habilidades {
    max-width: 370px;
  }
}

@media (max-width: 600px) {
  .home .container-foto-desktop div img {
    max-width: 400px;
  }
}

@media (max-width: 425px) {
  .home .container-informacoes h1 {
    font-size: 30px;
  }

  .home .container-informacoes p {
    font-size: 16px;
  }

  .home .container-foto-desktop div img {
    max-width: 320px;
  }

  .projetos {
    padding: 30px;
  }
}
