.habilidades .container-habilidades::-webkit-scrollbar {
  width: 10px;
}

.habilidades .container-habilidades::-webkit-scrollbar-track {
  background: var(--color-dark);
  border-radius: 10px;
}

.habilidades .container-habilidades::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
  border-radius: 10px;
  border: 1px solid var(--color-black);
}
