html {
  color: var(--color-white);
  scroll-behavior: smooth;
}

body {
  background: var(--gradient-background);
  background-size: 180% 180%;
  font-family: var(--font-primary);
  margin: 0 auto;
  max-width: 1120px;
  animation: gradient-animation 10s ease infinite;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
}

.cabecalho .logo {
  height: 60px;
  width: 60px;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-family: var(--font-secondary);
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.cabecalho nav ul {
  display: flex;
  gap: 10px;
}

.cabecalho nav ul li a {
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}

.cabecalho nav ul li a:hover {
  border-bottom: 1px solid var(--color-white);
}

.cabecalho .menu {
  display: none;
  width: 60px;
  height: 60px;
  align-self: flex-end;
}

.cabecalho nav label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.cabecalho .hamburguer {
  position: relative;
  display: block;
  background-color: var(--color-white);
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.cabecalho .hamburguer:before,
.cabecalho .hamburguer:after {
  background-color: var(--color-white);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.cabecalho .hamburguer:before {
  top: -10px;
}

.cabecalho .hamburguer:after {
  bottom: -10px;
}

.cabecalho input {
  display: none;
}

.cabecalho input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

.cabecalho input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

.cabecalho input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

.home {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.home .container-informacoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 2px;
  padding: 0 15px;
  max-width: 50%;
}

.home .container-informacoes h1 {
  font-family: var(--font-secondary);
  font-size: 45px;
  margin-bottom: 20px;
}

.home .container-informacoes p {
  font-family: var(--font-secondary);
  font-size: 24px;
  margin-bottom: 20px;
}

.home .container-informacoes .redes-sociais {
  display: flex;
  gap: 20px;
}

.home .container-informacoes .redes-sociais li a img {
  border: 1px solid var(--color-white);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.home .container-informacoes .redes-sociais li a img:hover {
  transform: scale(1.1);
}

.home .container-foto-desktop .foto {
  max-width: 450px;
  margin: auto;
  border-radius: 50%;
}

.home .foto.sombra-interna {
  background: var(--gradient-img);
  background-size: 180%, 180%;
  animation: gradient-animation 10s ease infinite;
}

.home .container-foto-desktop div img {
  width: 100%;
  border-radius: 50%;
}

.sobre {
  min-height: calc(100vh);
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
}

.sobre .sobre-titulo {
  padding: 10px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.sobre .container-informacoes {
  gap: 15px;
  letter-spacing: 2px;
  padding: 0 15px;
}

.sobre .container-informacoes p {
  font-family: var(--font-secondary);
  font-size: 24px;
  padding: 10px;
  margin: 20px 0;
}

.sobre .container-informacoes button {
  background: none;
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-white);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  margin: 20px 0 auto;
  transition: 0.3s ease-in-out;
  width: 180px;
}

.sobre .container-informacoes button:hover {
  cursor: pointer;
  border-radius: 50px;
}

.habilidades {
  min-height: calc(100vh);
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
}

.habilidades .habilidades-titulo {
  padding: 10px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.habilidades .container-habilidades {
  background: var(--gradient-section);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  letter-spacing: 2px;
  padding: 0 15px;
  max-height: 650px;
  overflow-y: scroll;
}

.habilidades .container-habilidades::-webkit-scrollbar {
  display: none;
}

.habilidades .container-habilidades .habilidade {
  width: 300px;
  padding: 40px 20px;
}

.habilidades .container-habilidades .habilidade .habilidade-logo {
  margin-bottom: 10px;
}

.habilidades .container-habilidades .habilidade .habilidade-logo i {
  font-size: 60px;
}

.habilidades .container-habilidades .habilidade h3 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.habilidades .container-habilidades .habilidade p {
  font-family: var(--font-secondary);
  font-size: 20px;
}

.projetos {
  min-height: calc(100vh - 181px);
  padding: 10px 0;
}

.projetos .projetos-titulo {
  text-align: center;
  padding: 10px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.projetos .container-projetos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.projetos .container-projetos .projeto {
  max-height: 370px;
  max-width: 370px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  display: none;
  overflow: hidden;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.6);
}

.projetos .container-projetos .projeto.ativo {
  display: block;
}
.projetos .container-projetos .projeto img {
  height: 100%;
}

.projetos .container-projetos .projeto h3 {
  background-color: var(--color-dark);
  width: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
}

.projetos .container-projetos .projeto .informacoes-projetos {
  background-color: var(--color-dark);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  opacity: 0;
  transition: 0.3s ease-in-out;
  padding: 20px;
}

.projetos .container-projetos .projeto:hover .informacoes-projetos {
  opacity: 0.8;
}

.projetos .container-projetos .projeto .informacoes-projetos ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.projetos .container-projetos .projeto .informacoes-projetos ul li {
  font-size: 20px;
}

.projetos .btn-mostrar-projetos {
  align-items: center;
  background: none;
  background-color: var(--color-tertiary);
  border-radius: 10px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  transition: 0.3s ease-in-out;
  width: 180px;
  text-transform: capitalize;
}

.projetos .btn-mostrar-projetos:hover {
  border-radius: 50px;
  cursor: pointer;
}

.projetos .btn-mostrar-projetos.remover {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 15px;
}

.footer .container-informacoes h3 {
  font-family: var(--font-secondary);
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 0px;
}

.footer .container-informacoes .redes-sociais {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer .container-informacoes .redes-sociais li a img {
  border: 1px solid var(--color-white);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.footer .container-informacoes .redes-sociais li a img:hover {
  transform: scale(1.1);
}

@keyframes gradient-animation {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 50%;
  }
}
